.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.95;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  animation: moveToBottom 0.7s ease-out;

  @keyframes moveToBottom {
    0% {
      opacity: 0;
      transform: translateY(-20rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.close {
  transition: 0.5s;
  animation: moveToTop 0.7s ease-out;

  @keyframes moveToTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20rem);
    }
  }
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    top: 17%;
  }
}

.overlay a, .option {
  padding-bottom: 22px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: lighter;
  text-shadow: 0 0 15px #093ce2;
  cursor: pointer;
}

.overlay a:hover, .option:hover,
.overlay a:focus, .option:focus {
  color: #00d4ff;
  text-shadow: 0 0 15px #00d4ff;
}

.exit {
  position: absolute;
  top: 3.2%;
  left: 0.1%;
  width: 53px;
}

/* Style the Un-order list by setting its list-style to none */
.exit ul {
  list-style: none;
}

.exit ul li {
  width: 47px;
  height: 47px;
  line-height: 58px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #00d4ff;
  float: left;
  transition: all 0.5s ease;
  @media screen and (min-width: 600px) {
    border: 3px solid #00d4ff;
    box-shadow: 0 0 15px #00d4ff;
  }
}

.exit ul li .fa {
  color: #00d4ff;
  text-shadow: 0 0 15px #00d4ff;
  transition: all 0.5s ease;
}

.exit ul li:hover .exitmenu {
  border: 5px solid #00d4ff;
  box-shadow: 0 0 15px #00d4ff;
  transition: all 0.5s ease;
}

.exit ul li:hover .fa-times {
  color: #d8e2dc;
  text-shadow: 0 0 15px #00d4ff;
  transition: all 0.5s ease;
}
