.flip-card {
  width: 395px;
  height: 410px;
  @media screen and (max-width: 600px) {
    margin-left: auto;
    margin-right: auto;
    width: 318.3px;
    height: 255.5px;
    margin-bottom: 200px;
  }
  perspective: 1000px;
  margin-bottom: 120px;

  &:hover {
    cursor: pointer;
  }
  &:hover .flip-card-inner {
    @media screen and (min-width: 600px) {
      transform: rotateY(-180deg);
    }
  }

  &:active .flip-card-inner {
    @media screen and (max-width: 600px) {
      transform: rotateY(-180deg);
    }
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: transparent;
    color: black;
  }

  .flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    border: 2px solid #00d4ff;
    border-radius: 4px;
    box-shadow: 0px 0px 9px #00d4ff;
    height: 121%;

    @media screen and (max-width: 600px) {
      height: 430px;
    }

    .project-buttons {
      margin-left: auto;
      margin-right: auto;
      margin-top: 140px;
      box-sizing: border-box;
      @media screen and (max-width: 600px) {
        margin-top: 120px;
      }
    }

    .github {
      margin-bottom: 35px;
    }
  }

  .portimage {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    border: 2px solid #00d4ff;
    border-radius: 4px;
    box-shadow: 0px 0px 9px #00d4ff;

    .projectimage {
      width: 392px;
      height: 215px;
      @media screen and (max-width: 600px) {
        width: 314.5px;
        height: 161.2px;
      }
    }
  }

  .projectname {
    color: white;
    margin-top: 0px;
    text-align: center;
    font-size: 1.95rem;
    font-weight: lighter;
    box-shadow: 0px 0px 9px #00d4ff;
  }

  .description {
    color: white;
    box-shadow: 0px 0px 9px #00d4ff;
    margin-top: 13px;
    height: 187px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    @media screen and (max-width: 600px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .desc {
      color: #c9d0d4;
      font-family: "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-style: italic;
      /*	position: absolute;
		bottom: -0.1%;
		right: 0.15%;
		display: inline-block;*/
    }
  }
}
