.homepage {
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  @media screen and (max-width: 600px) {
    overflow: scroll;
    height: 80vh;
    
  }

  .content {
    flex: 1 0 auto;
    height: 100%;
    @media screen and (min-height: 800px) {
      
      height: auto;
    }
  }
  
  .homepage-container {
    
    @media screen and (max-width: 600px) {
      margin-top: 100px;
  }
  }
  
  .profileimage {
    width: 103px;
    height: 103px;
    clip-path: circle(50% at 50% 50%);
    animation: moveInTop 1.5s;

    @keyframes moveInTop {
      0% {
        opacity: 0;
        transform: translateY(-5rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @media screen and (max-width: 600px) {
      width: 93px;
      height: 93px;
    }
  }

  .text-box {
    display: inline-block;
    margin-bottom: 50px;

    .title {
      color: white;
      font-size: 4.15rem;
      text-transform: capitalize;
      border-bottom: 1.5px solid #00d4ff;
      color: #fff;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-bottom:15px;
      animation-name: moveInLeft;
      animation-duration: 1.9s;

      @media screen and (max-width: 600px) {
        font-size: 2.1rem;
      }

      @keyframes moveInLeft {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        80% {
          opacity: 1;
          transform: translate(4rem);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    .subtitle {
      position: relative;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 6px;
      font-size: 2.16rem;
      margin-top: 25px;
      font-weight: 900;
      text-decoration: none;
      color: white;
      display: inline-block;
      background-size: 120% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      -ms-background-clip: text;
      -ms-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      background-image: linear-gradient(
        45deg,
        #00d4ff,
        #00d4ff,
        #fff800,
        #fff800
      );
      animation: 0.8s shake infinite alternate;

      @media screen and (max-width: 600px) {
        font-size: 1.3rem;
      }

      @keyframes shake {
        0% {
          transform: skewX(-15deg);
        }
        5% {
          transform: skewX(15deg);
        }
        10% {
          transform: skewX(-15deg);
        }
        15% {
          transform: skewX(15deg);
        }
        20% {
          transform: skewX(0deg);
        }
        100% {
          transform: skewX(0deg);
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
      //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      //   grid-gap: 30px;
      /* Workaround for iPhone 6/7/8 & Galaxy S5*/ 
      @media screen and
      (max-height: 700px) and (max-width: 400px) {
      grid-gap: 20px;
    }
    //   grid-template-rows: 1fr;
    //   width: 90%;
    margin: 0 auto;
    animation: moveInBottom 1.5s ease-out;
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(20rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .neon {
    color: #00d4ff;
    font-size: 1.3rem;
    line-height: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
    @media screen and (max-width: 600px) {
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
    }
  }

  .neon {
    animation: neon 2s ease infinite;
    -moz-animation: neon 2s ease infinite;
    -webkit-animation: neon 2s ease infinite;
  }

  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 0.1rem #00d4ff, 0 0 0.1rem #00d4ff, 0 0 0.1rem #00d4ff,
        0 0 0.1rem #00d4ff, 0 0 0.1rem #fed128, 0.1rem 0.1rem 0.1rem #806914;
      color: #bc2a8d;
    }
    50% {
      text-shadow: 0 0 0.1rem #800e0b, 0 0 1 0.1rem #800e0b, 0 0 0.1rem #800e0b,
        0 0 0.1rem #800e0b, 0 0 0.1rem #800e0b, 0.1rem 0.1rem 0.1rem #40340a;
      color: white;
    }
  }

  .footer {
    display: block;
    text-align: center;

    height: auto;

    @media screen and (max-height: 500px) {
      position: absolute;
    }

    /* Workaround for iPhone 6/7/8 & Galaxy S5*/
    @media screen and (max-height: 700px) and (max-width: 400px) {
      padding-top: 40px;
    }
    /* Workaround for iPhone 5/SE*/
    @media screen and (max-height: 600px) and (max-width: 400px) {
      padding-top: 110px;
    }
  }

  .rotation {
    animation: rotation 5s infinite linear;

    @keyframes rotation {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(1359deg);
      }
    }
  }

  

  .fa-heart-o {
    margin-left: 11px;
    margin-bottom: 3px;
    text-shadow: -0.1vw 0vw 0.25vw #fbb4ff, -0.2vw 0vw 0.25vw #fbb4ff,
      -0.4vw 0vw 0.25vw #fbb4ff, -0.1vw 0vw 1vw #e82ff5,
      -0.2vw 0vw 0.8vw #e82ff5, -0.4vw 0vw 0.8vw #e82ff5,
      0.2vw 0vw 0.5vw #e82ff5, -0.1vw 0vw 10vw #cb16fa, -0.2vw 0vw 10vw #cb16fa,
      -0.4vw 0vw 10vw #cb16fa;
  }

  .heart-off {
    animation: heart 0.1s ease infinite;
    -moz-animation: heart 0.1s ease infinite;
    /* Firefox */
    -webkit-animation: heart 0.1s ease infinite;
    /* Safari and Chrome */
    -o-animation: heart 0.1s ease infinite;
    /* Opera */
  }

  @keyframes heart {
    0%,
    100% {
      /* Enable hardware acceleration to fix laggy transitions */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      color: #fbb4ff;
      text-shadow: -0.1vw 0vw 0.25vw #fbb4ff, -0.2vw 0vw 0.25vw #fbb4ff,
        -0.4vw 0vw 0.25vw #fbb4ff, -0.1vw 0vw 1vw #e82ff5,
        -0.2vw 0vw 0.8vw #e82ff5, -0.4vw 0vw 0.8vw #e82ff5,
        0.2vw 0vw 0.5vw #e82ff5, -0.1vw 0vw 10vw #cb16fa,
        -0.2vw 0vw 10vw #cb16fa, -0.4vw 0vw 10vw #cb16fa;
    }
    50% {
      /* Enable hardware acceleration to fix laggy transitions */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      color: #8f5493;
      text-shadow: -0.1vw 0vw 0.25vw #8f5493, -0.2vw 0vw 0.25vw #8f5493,
        -0.4vw 0vw 0.25vw #8f5493, -0.1vw 0vw 0.8vw #59125e,
        -0.2vw 0vw 0.8vw #59125e, -0.4vw 0vw 0.8vw #59125e,
        0.2vw 0vw 0.5vw #59125e, -0.1vw 0vw 3vw #42114e, -0.2vw 0vw 3vw #42114e,
        -0.4vw 0vw 3vw #42114e;
    }
  }

  .made {
    color: white;
    display: inline;
    font-size: 18px;
    font-family: 'Calibri';

    font-weight: lighter;
    font-style: italic;
    animation: text-flicker 6s linear infinite;
  }

  @keyframes text-flicker {
    0% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    2% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    8% {
      opacity: 0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    9% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    12% {
      opacity: 0.1;
      text-shadow: 0px 0px rgba(242, 22, 22, 1);
    }
    20% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    25% {
      opacity: 0.3;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    30% {
      opacity: 1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    70% {
      opacity: 0.7;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    72% {
      opacity: 0.2;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    77% {
      opacity: 0.9;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    100% {
      opacity: 0.9;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
  }
}