.register-button {
  border-style: solid;
  border-width: 2px;

  -moz-border-image: linear-gradient(to right, #0865f1 0%, #00d4ff 100%);
  -webkit-border-image: linear-gradient(to right, #0865f1 0%, #00d4ff 100%);
  -o-border-image: linear-gradient(to right, #0865f1 0%, #00d4ff 100%);
  border-image: linear-gradient(to right, #0865f1 0%, #00d4ff 100%);

  -moz-border-image-slice: 1;
  -webkit-border-image-slice: 1;
  -o-border-image: 1;
  border-image-slice: 1;

  background: transparent;
  color: #000;
  font-size: 1.57em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  width: 200px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.register-button:hover {
  background-color: white;
  background: linear-gradient(to right, #0865f1, #00d4ff);
  color: #fff;
}
