/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  @media screen and (max-width: 600px) {
  }
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 47px;
  height: 47px;
  line-height: 58px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #00d4ff;
  box-shadow: 0 0 15px #00d4ff;
  float: left;
  @media screen and (min-width: 600px) {
    border: 3px solid #00d4ff;
    box-shadow: 0 0 15px #00d4ff;
  }
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #d8e2dc;
}
/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/

.wrapper ul li .fa-facebook {
  text-shadow: 0 0 15px #00d4ff;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li .fa-instagram {
  text-shadow: 0 0 15px #00d4ff;
}
.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li .fa-google {
  text-shadow: 0 0 15px #00d4ff;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}
